@import "./variables.scss";

body {
  background-color: $color-main;
}

.main {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-main;
  width: 900px;
}
