$unit: 8px;
$color-main: #ececec;
$color-primary: #000;
$color-secondary: #fff;
$style-color: #2fa7df;
$style-color-alt: #76db76;
$terminal-color: #a470df;
$border-radius: 70px;
$box-shadow: -11px 10px 13px 0px rgba(0,0,0,0.21);
